body {
    font-family: Arial;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: darkblue;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: blue;
}

/* MEDIA QUERY (IMPORTANT FOR MARKS) */
@media (max-width: 600px) {
    body {
        background-color: lightgray;
    }

    nav a {
        display: block;
        margin: 5px 0;
    }
}